# cloud-platform-foundation/kubernetes-manifests/atlantis/atlantis-values.yaml
orgAllowlist: github.com/IlyaBridge/*

github:
  user: IlyaBridge
  token: "GITHUB_TOKEN_HERE"
  secret: atlantis-webhook-secret-123

repoConfig: |
  repos:
    - id: /.*/
      workflow: terraform

  workflows:
    terraform:
      plan:
        steps:
          - init:
              extra_args:
                - "-backend-config=/atlantis-backend/backend.conf"
          - plan
      apply:
        steps:
          - apply

service:
  type: LoadBalancer

# service:
#   type: ClusterIP

extraVolumes:
  - name: backend-conf
    secret:
      secretName: atlantis-backend-conf

extraVolumeMounts:
  - name: backend-conf
    mountPath: /atlantis-backend
    readOnly: true

