bucket                      = "diploma-terraform-state-ilya"
key                         = "infrastructure/terraform.tfstate"
region                      = "ru-central1"
endpoint                    = "https://storage.yandexcloud.net"

# credentials must be provided separately (secret/env vars)
# access_key  = "REPLACE_ME"
# secret_key  = "REPLACE_ME"

skip_region_validation      = true
skip_credentials_validation = true
skip_metadata_api_check     = true
skip_requesting_account_id  = true
force_path_style            = true
