# Ключи доступа
service_account_key_file.json
*.key
*.pem
*.crt

*.tfvars
terraform.tfvars
terraform.tfvars.json
backend.conf
common-vars.sh

# terraform state файлы
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.plan
terraform.tfvars.base

# Локальные конфиги
.terraform/
.kube/
.kube/config
.cache/

# Докер файлы
.env
.dockerignore

# Локальные сис. файлы
/etc/hosts
.bash_history
.ssh/
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.temp
*.swp
*.swo

# Прочие сборочные и тестовые файлы
build/
dist/
node_modules/
__pycache__/

# ======================
# Спец файлы для проекта

# Скрипты ( пока в работе!!! )
scripts/deploy-*.sh
scripts/destroy*.sh
scripts/quick-access.sh
scripts/setup-k8s-access.sh
scripts/install-atlantis.sh
scripts/atlantis-values.yaml

# Модули с конфигом
terraform/infrastructure/backend.conf
terraform/kubernetes/backend.conf
terraform/registry/backend.conf
terraform/backend/backend.conf

kubernetes-manifests/atlantis/atlantis-values.yaml

generated/
tmp/
temp/

# App-specific ignores
app/node_modules/
app/.env*
app/*.log
app/build/
app/dist/
scripts/atlantis-values.yaml
