apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-demo-app
  labels:
    app: cloud-demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-demo-app
  template:
    metadata:
      labels:
        app: cloud-demo-app
    spec:
      containers:
        - name: nginx
          image: cr.yandex/crpre42rnn3bk2nd18qd/cloud-demo-app:1.0.0
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
